/*
Kolor wiodący:
#28546C - Niebieski
Kolor 2gi:
#AA9239 - Złoty
Kolor 3ci:
#943133 - Różowy
*/
*
{
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
body
{
    font-family: 'Raleway', sans-serif;
    font: 1rem;
    background-image: url("../img/bg.png");    
}

#container{
    padding-top:2vh;
    min-height: 80vh;
    width: 100%;
}



#topBar
{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    height: 7vh;
    padding:1vh 2%;
    background-color: #28546C;
    color:#AA9239;
    z-index: 1500;

    font-size:calc(1em + 1.2vw);
}
#headerLogo{
    float:left;
    width:14;
    height: 7vh;
}
.menuText
{
    margin-top:0.7vh;
    margin-left:1vw;
    float:left;
    font-size:vh;
    
}
#appTitle{
    float:left;
    font-weight: bold;
}

button{
    height:4vh;
    font-size:3vh;
    border-style:solid;
    border-radius:5px;
    background-color:rgba(0,0,0, 0);
    color:#AA9239;
    border-color:#AA9239;
}
button:hover{
    cursor: pointer;
    color:#887217;
    border-color:#887217;
}

.menuRunButton{
    float:right;
    padding: 10px;
    padding-bottom: 35px;
    text-align: center;
    border: none;
}
.tileLeft{
    width:43vw;
    margin:1vh 1vw 1vh 2vw; 
    border-radius: 4px;
    padding: 2vh 2vw;
    height: auto;
    float:left;
    color: #ffffff;
    text-align: center;
}
.fixAttraction{
    width:43vw;
    margin:1vh 1vw 1vh 2vw; 
    border-radius: 4px;
    padding: 2vh 2vw;
    height: auto;
    float:left;
    color: #ffffff;
    text-align: center;
}
.tileRight{
    width:42vw;
    margin:1vh 2vw 1vh 1vw; 
    border-radius: 4px;
    padding: 2vh 2vw;
    height: auto;
    float: right;
    color: white;
    text-align: center;
}
#idRightTopAttraction
{
    text-align: center;
}
.date
{
    margin-top: 7vh;
    overflow: auto;
}
#dateRight
{
    line-height: 1.6;
}
.hrDate
{
    font-size: 2rem;
    font-weight: 700;
}
.classAttraction
{
    margin-top: 7vh;
    overflow: auto;
}
#dateLeft
{
    color:white;
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
}
#idAttraction
{
    font-weight: 700;
    font-size: 0.95rem;
    padding: 2vh 2vw;
    text-align: center;
    margin-top: -2vh;
    height: 14vh;
    background-color: #AA9239;
    border-radius:10px;
    overflow: auto;
    
}

.newsPost
{
    width: 94vw;
    margin-left: 2vw;
    height: 21vh;
    margin-top: 2vh;
    position: relative;
    border-top: 1px solid #28546C;
    border-bottom: 4px solid #28546C;
    padding-right: 2vw;
    border-radius: 5%;
     
}
.content
{
    z-index: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    padding: 3% 3% 1% 3%;
    color: aliceblue;
    background-color: rgba(0,0,0,0.5);
}
.newsPost img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 5.5%;
}
.contentTitle
{
    width: 100%;
    font-size: 1.2rem;
    position: relative;
}



#googleMap
{
    margin-top: 7vh;
    height:93vh;
    width:100vw;

}

.galleryPicture img{
    width:100%;  
}

.galleryPicture{
    width:90%;
    height:25vh;
    margin:5vmin;
    border-radius: 12px;

    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#kaplanowkaImageHeader{
    bottom:18%;
}
#kaplanowkaImage{
    height:25vh;
}
.galleryPictureHeader{
    width:100%;
    height: 20%;
    text-align: center;
    font-weight: bold;
    font-size:calc(1em + 1vw);
    color:#28546C;
    

    position:relative;
    background-color: rgba(255,255,255,0.8);
    bottom:-21.5vh;
}
#containerLeft
{
    float: left;
    width: 50%;
}
#containerRight
{

    float: right;
    width: 50%;
    position: relative;
}
#conRight
{
    float: left;
    width: 50%;
    font-size: 2rem;
}
.attraction
{
    width: 94vw;
    margin-left: 2vw;
    height: 35vh;
    margin-top: 2vh;
    position: relative;
    border-top: 1px solid #28546C;
    border-bottom: 4px solid #28546C;
    padding-right: 2vw;
    border-radius: 5%;
}
.attraction img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 5.5%;
}
.attractiontTitle
{
    width: 100%;
    font-size: 1.2rem;
    position: relative;
}
.attractionFilters
{
    margin-top: 1vh;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #28546C;
    color:white;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    width: 48%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 5px;
}
.categoriesBar
{
    margin-top: 1vh;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #28546C;
    color:white;
    text-align: center;
    font-weight: 700;
    width: 48%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
}
#divHistory
{
    display: none;
}
#divYouth
{
    display: none;
}
#divKids
{
    display: none;
}
#divFun
{
    display: none;
}
.leftFloat
{
    float: left;
}
.rightFloat
{
    float: right;
}
.leftFloat:hover
{
    float: left;
    cursor: pointer;
}
.rightFloat:hover
{
    float: right;
}

#contactsList
{
    margin-top: 8vh;
}
#contactsList h1
{
    background-color: #AA9238;
    color: #28546C;
    font-weight: bold;
    padding: 5% 0;
}
textarea
{
    width: 90%;
    padding: 5%;
    height: 18vh;
    background-color:#28546C;
    color:#AA9239;
    margin: 2.5% 0;
    font-size: 2vw;
}

#reportButton
{
    height:10vh;
    width: 100%;
    border-width: 2px;
    font-size: 4vw;
    color:#AA9238;
    border-color:#AA9238;
    background-color: #28546C;
    margin-bottom: 4vw;
}
#thankYou
{
    font-size:4vw;
    background-color:#943133;
    color:white;
    height: 7vh;
    width: 100%;
    margin-bottom: 4vw;
    text-align: center;
    padding-top:2vh;
}

.urzedyLink
{
    color:#AA9238;
    background-color:#28546C;
    height:8vh;
    width:90vw;
    border-radius: 5px;
    font-size:calc(1em + 1vw);
    padding-top:3vh;
    text-align:center;
    margin:2.5vh;
    font-weight: bold;
    
}


.gold{
    background-color:#AA9238;
    color:#28546c;
    width:44%;
    height:7vh;
    padding:3vh 3px;

    font-weight: bold;
    font-size:calc(1em + 1vw);
}
.gold:hover
{
    background-color: #887217;
    color: #06324a;
    cursor: pointer;
}
.blue{
    background-color:#28546C;
    color:#AA9238;
    width:44%;
    height:7vh;
    padding:3vh 3px;

    font-weight: bold;
    font-size:calc(1em + 1vw);
}
.blue:hover
{
    background-color: #06324a;
    color: #887217;
}

.urzedyLista{
    font-size:2vh;
    width:90%;
    margin-left:4.5vw;
    margin-top:-2vh;
    margin-bottom:-2vh;
    text-align: center;
}

.stanWeather
{
    float: left;
    font-size: 20vw;
}
#weatherRight
{
    text-align: left;
}
.tempWeather
{
    font-size: 4vh;
    position: relative;
    top: 2vw;
    left: 3vw;
}
.windWeather
{
    font-size: 3vw;
    position: relative;
    top: 2vw;
    left: 3vw;
}

/*
.stanWeather
{
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    float: left;
    background-color: #FF0000;
}
.stanWeatherPc
{
    font-size: 5rem ;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 25%;
    float: left;
    background-color: #00FF00;
}
.tempWeather
{
    font-size: 2rem;
    margin-top: 5%;
    margin-right: 18%;
    float: right;
}
.tempWeatherPc
{
    font-size: 5rem !important;
    margin-top: 10%;
    margin-right: 25%;
    float: right;
}
#weatherInfo
{
    border-radius: 5px;
    color: #ffffff;
}
#weatherInfo:hover
{
    cursor: pointer;
    background-color: #06324a;
}
.windWeatherPc
{
    font-size: 3rem !important;
    margin-left: 20vw;
}

.weatherInfoPc
{
    text-align: center !important;
    font-size: 3rem !important;

}
*/
.weatherTop
{
    float: left;
    width: 31vw;
    height: 10vh;
    background-color: #AA9238;
    border-radius: 5px;
    margin-left: 1.5vw;
    margin-top: 8vh;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 2vh;
    color: #ffffff;
}
#weatherStanFull
{
    width: 60vw;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 5px;
    height: 50vh;
    padding: 1vh 1vw 1vh 1vw;
    background-color: #28546C;
    float: left;
    color: #ffffff;
    text-align: center; 
    font-size: 2rem;
}
.weatherStanFullPc
{
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 5px;
    height: 20vh;
    padding: 1vh 1vw 1vh 1vw;
    background-color: #28546C;
    float: left;
    color: #ffffff;
    text-align: center; 
    font-size: 5rem !important;
}
.weatherStanFullPc i
{
    font-size: 5.5rem !important;
    margin-top: 10vh !important; 
}
#weatherStanFull i
{
    font-size: 3.5rem;
    margin-top: 5vh; 
}
#weatherRightFull
{
    float: right;
    width: 30vw;
    margin-top: 3vh;
    margin-right: 1.5vw;
    border-radius: 5px;
    height: 50vh;
    padding: 1vh 1vw 1vh 1vw;
    color: #ffffff;
}
.weatherRightInfoFull
{
    height: 18vh;
    margin-top: 2vh;
    text-align: center;
    border-radius: 5px;
}
#fullGodz
{
    background-color: #AA9238;
    font-size: 2rem;
    padding-top: 7vh;
}
#fullTemp
{
    background-color: #28546C;
    font-size: 3rem;
    padding-top: 7vh;
    margin-top: -1vh;
}
#weatherBottomFirst
{
    width: 60vw;
    margin-top: 2.5vh;
    margin-left: 1.5vw;
    border-radius: 5px;
    height: 20vh;
    padding: 1vh 1vw 1vh 1vw;
    background-color: #AA9238;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 3rem;
}
#weatherBottomSecond
{
    float: right;
    width: 30vw;
    margin-top: 3vh;
    margin-right: 1.5vw;
    border-radius: 5px;
    height: 14vh;
    background-color: #28546C;
    padding: 7vh 1vw 1vh 1vw;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}
.tileMenuYellow
{
    background-color: #AA9238;
}
.tileMenuYellow:hover
{
    background-color: #887217;
}
.tileMenuBlue
{
    background-color: #28546C;
}
.tileMenuBlue:hover
{
    background-color: #06324a;
}

#atractrionMenu
{
    font-size: 1.rem;
    
}
#eventMenu
{
    font-size: 1.rem;
}
#kontaktMenu
{
    font-size: 1.rem;
    
}
#galeriaMenu
{
    font-size: 1.rem;
    
}
#mapaMenu
{
    font-size: 1.rem;
    
}
#pracaMenu
{
    font-size: 1.rem;
    
}
#urzadMenu
{
    font-size: 1.rem;
    
}
#atractrionMenu i
{
    
    font-size: 2.5rem;
    
}
#infoCarMenu
{
    font-size: 1.rem;
    
}
#infoCarMenu i
{
    
    font-size: 2.5rem; 
    
}
#eventMenu i
{
    
    font-size: 2.5rem; 
    
}
#kontaktMenu i
{
    
    font-size: 2.5rem; 
    
}
#galeriaMenu i
{
    
    font-size: 2.5rem; 
    
}
#mapaMenu i
{
    
    font-size: 2.5rem; 
    
}
#pracaMenu i
{
    
    font-size: 2.5rem; 
    
}
#urzadMenu i
{
    
    font-size: 2.5rem; 
    
}

#scrollToTop{
    float:right;
}
a img
{
    position: relative;
    top: 6px;
    left: 10px;
}

#footer{
    margin-top:3vh;
    padding-top:5vh;
    background-color: #333333;
    color:#cccccc;
    font-size:1.65vh;
    text-align:center;
    line-height: 1.5;
}

hr
{
    width: 7vw;
    margin: 1vh auto;
}

#projectFooter
{
    font-size: 2.5vh;
}
#xd{
    font-size:7px;
    float:right;
    background-color: #333333;
    color:#cccccc;
}

.infoBlue{
    background-color:rgba(40, 84, 108, 0.9);
    color:#AA9239;

}

.infoYellow{
    background-color:rgba(170, 146, 57,0.9);
    color:#28546C;
}



.roadInfo
{
    text-align:center;
    font-size:calc(1em + 1.2vw);
    border-radius:12px;
    height:11vh;
    font-weight: bold;
    margin:3vw;
    padding:5% 0px 5% 0px; 
}
.roadTitle
{
    
}
.roadStart
{

}
.roadEnd
{
    
}
#formLogin
{
    margin-top: 8vh;
}
.inpText
{
    width: 92vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 5px;
    outline: none;
    border: 2px solid #28546C;
    font-size: 2rem;
}
#btnSubmitLogin
{
    float:right;
}
#btnSubmitLogin:hover
{
    background-color: #AA9238;
    color: #ffffff;
    cursor: pointer;
}


.img-responsive-sm{/*klasa obrazków w wiadomościach*/
    float:right;
    height:100px;
    width:190px;
    border-radius: 10px;
}

.oneNews{
    text-decoration: none;
    min-height: 150px;
    margin:2vh;
    border-radius: 10px;
    padding:4vw;
}

a:link{
    text-decoration: none;
}


.articles_list_item{
    text-decoration: none;
}
.articles_list_item h4{
    text-decoration: none;
}
.tileMenuAdmin
{
    background-color:  #943133;
    font-size: 1.5rem;
}
.tileMenuAdmin i
{
    font-size: 2.5rem;
}

#tarnowskaLogoTlo{
    background-color: rgba(170, 146, 57,0.9);
    border-radius: 10px;
    margin-bottom:-30px;
    height:12vh;
    width:92%;
    margin-left:4%;
    padding-top:1vh;
}

#tarnowskaLogo{
    height:5vh;
}
.form
{
    margin: 4vw;
    margin-top: 10vh;
    text-align: center;
    width: 92vw;
    border: 3px solid #28546C;
    border-radius: 10px;
}
.form select
{
    background-color: #28546C;
    outline: none;
    padding:  2vw;
    font-weight: 900;
    font-size: 1.2rem;
    color: #AA9238;
}

.form select option
{
    color: #AA9238;
    outline: none;
    padding:  2vw;
    font-weight: 700;
    font-size: 1rem;
}
.inpAtr
{
    width: 85%;
    margin: 2vw;
    padding: 2vw;
    border-radius: 5px;
    outline: none;
    border: 2px solid #28546C;
    font-size: 2rem;
}
.btnSubmit
{
    margin: 2vw;    
    padding: 1vw;
    padding-bottom: 5vh;
}
.btnSubmit:hover
{
    background-color: #AA9238;
    color: #ffffff;
    cursor: pointer;
}

#question, #answers{
    background-color: #AA9238;
    color:#28546C;
    border-radius: 12px;
    height:35vh;
    width:90vw;
    margin: 4.5vw;
    font-weight: bold;
    font-size:4vh;
    text-align: center;
}

#answers{
    background-color: rgba(0,0,0, 0);
}
.answer{
    padding:12% 3%;
    height:12%;
    width: 39%;
    margin:2vw;
    color: #AA9238;
    font-size:2.7vh;
    background-color:#28546C;
    border-radius: 12px;

}

#a1, #a3{
    float:left;
}

#a2, #a4{
    float:right;
}
#todayNames
{
    font-weight: bold;
}


#zle{position:absolute;
    height:100vh; 
    width:100vw; 
    color:white; 
    background-color:rgb(114, 0, 0); 
    text-align:center; 
    top: 0px; left: 0px; 
    padding-top:40vh; 
    font-size:10vw;
}

#dobrze{position:absolute;
    height:100vh; 
    width:100vw; 
    color:white; 
    background-color:rgb(24, 145, 24); 
    text-align:center; 
    top: 0px; left: 0px; 
    padding-top:40vh; 
    font-size:10vw;
}

#endgame{position:absolute;
    height:100vh; 
    width:100vw; 
    color:white; 
    background-color:rgb(36, 36, 36); 
    text-align:center; 
    top: 0px; left: 0px; 
    padding-top:40vh; 
    font-size:10vw;
}

#points{
    height:10vh;
    width: 92%;
    margin:2vw;
    background-color: #AA9238;
    font-size:4vh;
    color:#28546C;
    border-radius: 12px;
    text-align:center; 
    padding-top:4vh;
    font-weight: bold;
}

